.section {
  max-width: 282px;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .section {
    max-width: 581px;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    max-width: 880px;
  }
}